@font-face {
  font-family: "carnival";
  src: url(Fonts/Carnevalee\ Freakshow.ttf);
}
@font-face {
  font-family: "railroad";
  src: url(Fonts/IFC\ RAILROAD\ 2.ttf);
}
.fa-solid{
  cursor: pointer;
}

body {
  text-align: center;
  background-color: red;
  background-image: url(newbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#header {
  padding: 1%;
  font-size: 6rem;
  font-family: "carnival", cursive;
  color: #f49d1a;
  text-shadow: #9a5d02 6px 4px;
}

h2 {
  font-size: 4rem;
  font-family: "railroad", cursive;
  color: #f49d1a;
  text-shadow: #9a5d02 4px 3px;
}

#highscore{
  display: inline-block;
}

/* Press any key to start */
#title {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Game over Flash Screen */
.game-over {
  opacity: 0.3;
}
/* ---------------------------------------------------------------------------------------------------- */
/* Button Container Styling */
.press {
  outline: none;
  width: 230px;
  height: 235px;
  display: inline-block;
  text-align: center;
  padding: 2%;
  margin: 20px;
}

/* Button for mobile devices */
.btn-formob{
  display: none;
}

/* Glow Buttons */
.redglow {
  background-image: url(Game_Button/Red_button_glow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.blueglow {
  background-image: url(Game_Button/Blue_button_glow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.greenglow {
  background-image: url(Game_Button/Green_button_glow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.yellowglow {
  background-image: url(Game_Button/Yellow_button_glow.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Normal Buttons */
.red {
  background-image: url(Game_Button/Red_button.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.blue {
  background-image: url(Game_Button/Blue_button.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.green {
  background-image: url(Game_Button/Green_button.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.yellow {
  background-image: url(Game_Button/Yellow_button.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* audio buttons */
#Soundcontroller {
  /* font-family: "railroad", cursive; */
  font-family: 'Font Awesome 5 Free';
  font-size: 2.5rem;
  color: #f49d1a;
  text-shadow: #9a5d02 3px 2px;
  background: none;
  border: none;
  display: inline-block;
  position: absolute;
  text-align: right;
  left: 2%;
  top: 2%;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Media Querry */

@media (max-width: 900px)
{
  #header{
    margin-top: 10%;
    font-size: 3rem;
    text-shadow: #9a5d02 1px 2px;
  }
  #title {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 2rem;
    text-shadow: none;
  }
  #Soundcontroller {
    font-family: "railroad", cursive;
    font-size: 2.5rem;
    color: #f49d1a;
    text-shadow: none;
    background: none;
    border: none;
    display: inline-block;
    position: absolute;
    font-size: 1rem;
    text-align: right;
    left: 2%;
    top: 2%;
  }
  .press {
    outline: none;
    width: 154px;
    height: 156px;
    display: inline-block;
    text-align: center;
    padding: 1%;
    margin: 5px;
  }
  #highscore
  {
    display: inline-block;
    font-size: 2rem;
    margin: 20px;
    padding-bottom: 2px;
    text-shadow: #9a5d02 1px 2px;

  }
  .btn-formob
  {
    font-family: "railroad", cursive;
    font-size: 1rem;
    border: 0;
    line-height: 2.5;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 5%;
    background-color: #f49d1a;
  }
  .btn-formob:active {
    background-color: #ac6f13;
}

}
